.container {
    padding-left: 0;
    padding-right: 0;
    width: auto;
    max-width: 400px;
}

.slot {
	text-align: center;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slot img {
    border-radius: 3px;
}

.slot a {
    display: flex;
    justify-content: center;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.team {
	background-color: #ddd;
	padding: 10px;
	margin: 10px;
    border-radius: 5px;
}

.item {
    height: 300px;
    overflow-y: auto;
}

.flex-list {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.carousel-inner {
    width: 70%;
    margin: 0 auto;
}

.carousel-control {
    width: 13%;
    background-color: #aaa;
    border-radius: 15px;
    background-image: none !important;
}

.carousel-indicators {
    visibility: hidden;
}

.well {
    height: 52px;
}

.flex-center {
    display: flex;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    overflow-y: hidden;
}

.inner-center {
    text-align: center;
}

.placeholder {
    text-align: center;
    height: 45px;
    width: 45px;
    border: 2px dotted black;
    border-radius: 8px;
    box-sizing: border-box;
}